body {
    margin: 0;
}

div {
    border: 1px solid black;
}

header {
    display: flex;
    padding: 5px;
    width: 100%;
}

.navigation {
    width: 100px;
    height: 20px;
}

.hamburger {
    display: none;
}

.content, .banner, .card {
    height: 400px;
    width: 100%;
}

.contents-container, .cards-container {
    display: flex;
    justify-content: space-between;
}

.cards-container {
    padding: 10px;
}